.button{
 width: 182px;
height: 53px;
padding: 20px 40px 13px 40px;
gap: 10px;
border-radius: 8px;

background: #789E1A;
font-size: 16px;
font-weight: 600;
line-height: 26.9px;
text-align: center;
text-underline-position: from-font;

color: #F7F8FA;
border: none;
outline: none;


}

.button:hover{
    background-color: #ABDD2C;
}